# MPLABX Project Ignored Artifacts

funclist
Makefile-*
MPLABXLog.*
memoryfile.xml
nbactions.xml
nb-configuration.xml
Package-*.bash

*.d
*.elf
*.hex
*.lst
*.map
*.o
*.obj
*.obj.dmp
*.out
*.pre
*.p1
*.sym
*.sdb
*.traceinfo

**/build/**
**/debug/**
**/disassembly/**
**/dist/**
**/html/**
**/nbbuild/**
**/nbdist/**
**/nbproject/private/**
**/.generated_files/**

JLinkLog.txt

**/DebugConfig/**
**/Listings/**
**/Objects/**
**/RTE/**